<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav>
            <img src="https://cdn-icons-png.flaticon.com/128/4507/4507860.png" alt="Logo" style="width: 3%;">
            <a href="{{ url_for('home') }}">Homepage</a>
            <a href="{{ url_for('customers') }}">Customers</a>
            <a href="{{ url_for('products') }}">Products</a>
            <a href="{{ url_for('orders') }}">Orders</a>
        </nav>
        {% block content %}
        <div id="homepage">
            <h1>Homepage</h1>
            <p>Term Project for Python Object Oriented Programming</p>
            <p>Made by: Andrei Jan Mendoza</p>
            <h2><br>Reasons behind this project:</h2>
            <ul>
                
                <li>Learn backend development with Python</li>
                <li>Managing website with servers and databases</li>
                <li>How to integrate databases and use them to help create the website</li>
                <li>How to use Python to create a website</li>
                <li>How to create an API database to share with in the web</li>
                <li>Learning how POST PUT and DELETE can help update and manage a website</li>

            </ul>
            
            <h2>What to remember:</h2>
            <ul>
                <li>POST = is adding data into the database. It will automatically be generated its own unique id. It will contain necessary information given from the POST record in postman</li>
                <li>PUT = is Updating data in a database. This will change it throughout the entire page and webpages.</li>
                <li>DELETE = is Deleting data in the database. Don't know what else happens here, fuck off.</li>
                <li>example.scalars() = If the statement is designed to return only ONE columb value per row, its better to use this method to get an ITERAABLE of those scalar values directly instead of extracting them from a tuple.</li>
            </ul>

            <h2>Links that works:</h2>
            <ul>
                <li><a href="/api/orders">API for Orders</a></li>
                <li><a href="/api/products">API for Products</a></li>
                <li><a href="/api/customers">API for Customers</a></li>
            </ul>

        </div>
            {% endblock %}


        
    </body>
</html>